# Mail Configuration
MAIL_SERVER=smtp.example.com
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=mail@example.com
MAIL_PASSWORD=dein-passwort
MAIL_SENDER=mail@example.com

# Flask (WICHTIG: Zufälligen Key generieren, z.B. mit: python3 -c "import secrets; print(secrets.token_hex(32))")
SECRET_KEY=
